body{
    background-image: url(Me\ Playing\ Guitar.JPG), url(Parchment\ tile.png);
    background-repeat: no-repeat, repeat;
    background-position: bottom, center;
    background-size: 7.5%, 20%;
}