body{
    background-image: url(Pirate\ ship\ arrives.png), url(Parchment\ tile.png);
    background-repeat: no-repeat, repeat;
    background-position: bottom, center;
    background-size: 7.5%, 20%;
}